.label {
  @apply relative text-heading-5 font-label font-bold w-full;
}

.input {
  @apply appearance-none border rounded-lg border-gray-70 text-heading-5 text-gray-50 py-3 px-4 w-full;
  @apply focus:outline-none focus:ring-blue-100 focus:border-blue-100;
}

.eye {
  @apply h-6 w-6 absolute;

  transform: translate(-50%, -50%);
  right: 0;
  top: 70%;
}

.eyeError {
  top: 56%;
}
